.issue {
    font-size: 16px;
    background: #fff;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
}
/*    .issue .meta-divider {
    display: none;
}*/

.issue .head h2 {
    font-size: 2em;
    margin: 0 0 20px 0;
}

.issue .update {
    margin-top: 40px;
}

.issue .update-divider {
    display: none;
}

.issue ul.original-attr,
.issue ul.update-attr {
    /*        display: table;
    width: 100%;*/
    font-size: 12px;
    margin: 0 -20px 20px -20px;
    padding: 10px 0;
    list-style-type: none;
    font-family: verdana;
    background: #eee;
}

.issue ul.original-attr {
    background: #efe;
}

.issue ul.original-attr li,
.issue ul.update-attr li {
    /*display: table-row;*/
    padding-left: 20px;
}
/*    .issue ul.original-attr li .key, .issue ul.original-attr li .value,
.issue ul.update-attr li .key, .issue ul.update-attr li .value, {
    display: table-cell;
}*/